---
import hero1 from "../assets/hero1.png";
import hero2 from "../assets/hero2.png";
import hero3 from "../assets/hero3.png";
import quotation from "../assets/quotation_mark.svg";
---

<main class="flex flex-col flex-1">
	<section
		class="text-center flex flex-col items-center lg:text-left lg:items-start lg:pl-20 2xl:pl-[8rem] pt-[12vh] 2xl:pt-[20vh]"
	>
		<h1
			class="text-3xl md:text-5xl 2xl:text-6xl leading-snug md:leading-snug 2xl:leading-snug my-3 md:my-5 2xl:my-8 fade_up"
		>
			Any form of entertainment, at your hand
		</h1>
		<p
			class="text-lg md:text-xl 2xl:text-2xl w-11/12 md:w-[70%] xl:w-[50%] mb-[20vh] lg:mb-[30vh] 2xl:mb-[33vh] fade_up"
		>
			Access movies, books, comics and shows according to your preferences, with
			just a few simple filters.
		</p>
		<a
			href="/"
			class="text-xl md:text-2xl 2xl:text-4xl border-b-green-300 border-solid border-b-2 mb-10 md:mb-16 2xl:mb-20"
			>Give it a try for free {"→"}</a
		>
	</section>
	<section
		class="bg-center bg-cover pt-16 pb-20 md:py-20 2xl:py-26 px-6 md:px-8 2xl:px-14 grid place-items-center gap-y-8 md:gap-y-20 2xl:gap-y-30"
	>
		<h3
			class="max-sm:text-2xl text-4xl xl:text-6xl max-md:text-center text-left max-sm:my-[1rem] max-md:my-[3rem] lg:mx-[5rem] 2xl:mx-[8rem] fade_left"
		>
			Save hours of boring search with a few simple clicks.
		</h3>
		<img
			src={hero1.src}
			width={hero1.width}
			height={hero1.height}
			alt=""
			class="lg:mr-[5rem] max-sm:w-[13rem] w-[20rem] 2xl:w-[30rem] fade_right delay-300"
			aria-hidden="true"
		/>
		<img
			src={hero2.src}
			width={hero2.width}
			height={hero2.height}
			alt=""
			class="lg:ml-[5rem] max-sm:w-[13rem] w-[20rem] 2xl:w-[30rem] fade_left delay-300"
			aria-hidden="true"
		/>
		<h3
			class="max-sm:text-2xl text-4xl xl:text-6xl max-md:text-center text-right max-sm:my-[1rem] max-md:my-[3rem] lg:mr-[10rem] 2xl:mr-[14rem] lg:ml-[6rem] 2xl:ml-[7rem] fade_right"
		>
			Find the best movies and shows in just a second.
		</h3>
		<h3
			class="max-sm:text-2xl text-4xl xl:text-6xl max-md:text-center text-left max-sm:my-[1rem] max-md:my-[3rem] lg:ml-[5rem] 2xl:mx-[8rem] lg:mx-[2rem] fade_left"
		>
			Book lovers, we've got you covered. Read books and comics, of any genres.
		</h3>
		<img
			src={hero3.src}
			width={hero3.width}
			height={hero3.height}
			alt=""
			aria-hidden="true"
			class="max-sm:w-[13rem] w-[20rem] 2xl:w-[30rem] fade_right delay-300"
		/>
	</section>
	<section
		class="flex flex-col items-center bg-cover bg-center py-12 lg:py-16 2xl:py-20"
	>
		<h1
			class="text-3xl lg:text-5xl 2xl:text-6xl mb-12 lg:mb-16 2xl:mb-24 text-center fade_up"
		>
			Hear it from the people
		</h1>
		<blockquote
			class="max-sm:w-5/6 w-3/4 md:w-2/3 xl:w-1/2 max-md:px-12 max-md:py-4 bg-zinc-800 rounded-tl-2xl rounded-br-2xl fade_up"
		>
			<div
				class="bg-cover bg-center max-sm:w-12 w-16 md:w-40 2xl:w-52 max-sm:h-12 max-md:h-16 2xl:h-80 md:rounded-tl-2xl"
				aria-hidden="true"
			>
			</div>
			<img
				src={quotation.src}
				width={quotation.width}
				height={quotation.height}
				alt=""
				class="w-4 md:w-8 2xl:w-10 mt-6 mb-3"
			/>
			<p class="max-sm:text-xl text-2xl 2xl:text-3xl">
				Borma has made my life so much easier. After only 10 minutes in the app,
				I've already picked out some fantastic shows and books.
			</p>
			<address class="author max-sm:text-base text-lg 2xl:text-xl mt-3 mb-6">
				-John Doe
			</address>
		</blockquote>
	</section>
	<section
		class="bg-zinc-800 flex justify-center py-12 lg:py-16 2xl:py-24 text-center"
	>
		<div
			class="max-sm:w-5/6 w-3/4 2xl:w-1/2 px-12 lg:px-18 2xl:px-24 max-sm:py-8 py-10 lg:px-14 fade_up"
		>
			<h1
				class="max-sm:text-2xl text-4xl lg:text-5xl 2xl:text-6xl mb-3 2xl:mb-4"
			>
				Get in touch with us
			</h1>
			<p class="text-xl lg:text-2xl 2xl:text-3xl mb-8 lg:mb-10 2xl:mb-14">
				In case you got any questions or suggestions, write to us at:
			</p>
			<address class="not-italic text-xl lg:text-2xl 2xl:text-3xl">
				info.borma@gmail.com
			</address>
		</div>
	</section>
	<script defer>
		const observer = new IntersectionObserver((entries) => {
			entries.forEach((entry) => {
				if (entry.isIntersecting) {
					entry.target.classList.add("fade_show");
				} else {
					entry.target.classList.remove("fade_show");
				}
			});
		});

		const fade_up = document.querySelectorAll(".fade_up");
		const fade_left = document.querySelectorAll(".fade_left");
		const fade_right = document.querySelectorAll(".fade_right");

		fade_up.forEach((elm1) => {
			observer.observe(elm1);
		});
		fade_left.forEach((elm2) => {
			observer.observe(elm2);
		});
		fade_right.forEach((elm3) => {
			observer.observe(elm3);
		});
	</script>
</main>

<style lang="scss">
	.fade_up,
	.fade_left,
	.fade_right {
		opacity: 0;
		filter: blur(3px);
		@media (prefers-reduced-motion: no-preference) {
			transition: all 0.5s ease-in;
		}
	}

	.fade_up {
		transform: translateY(100px);
	}
	.fade_left {
		transform: translateX(-50px);
	}
	.fade_right {
		transform: translateX(50px);
	}
	.fade_show {
		opacity: 1;
		filter: blur(0);
		transform: translateY(0);
		transform: translateX(0);
	}

	a {
		font-family: var(--heading-font);
	}

	img {
		@apply max-md:w-[13rem] md:w-[17rem] lg:w-[20rem] 2xl:w-[30rem];
	}

	address {
		font-family: var(--heading-font);
	}

	section:nth-of-type(2) {
		background-image: url("../assets/bg2.webp");
		grid-template-areas:
			"h1 h1 i1"
			"i2 h2 h2"
			"h3 h3 i3";

		h3:nth-of-type(1) {
			grid-area: h1;
		}
		h3:nth-of-type(2) {
			grid-area: h2;
		}
		h3:nth-of-type(3) {
			grid-area: h3;
		}

		img:nth-of-type(1) {
			grid-area: i1;
		}
		img:nth-of-type(2) {
			grid-area: i2;
		}
		img:nth-of-type(3) {
			grid-area: i3;
		}

		@media only screen and (max-width: 768px) {
			grid-template-areas: "h1" "i1" "h2" "i2" "h3" "i3";
		}
	}

	section:nth-of-type(3) {
		background-image: url("../assets/bg3.webp");
	}

	blockquote {
		display: grid;
		grid-template-areas: "img quote" "img p" "img author";
		grid-template-columns: 3fr 7fr;
		box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
		img {
			grid-area: quote;
		}

		div {
			grid-area: img;
			background-image: url("../assets/person_review_sm.webp");

			@media only screen and (min-screen: 765px) {
				background-image: url("../assets/person_review_lg.webp");
			}
		}

		p {
			grid-area: p;
		}

		.author {
			grid-area: author;
			font-family: var(--heading-font);
			font-style: normal;
			text-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
		}

		@media only screen and (max-width: 765px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
</style>
